.counter{
  /* width: 100%;
  height: 100%; */
  display: flex;
}

.counter-number{
  display: inline-flex;
  align-items: center;
}
.number-list{
  display: flex;
  justify-content: center;
  align-items: center;
}