@import "../../../../../assets/style/variable.less";

.event-form {
  color: @fontColor;

  .ant-tabs-nav {
    margin-bottom: 16px;
  }

  .ant-collapse-content-box {
    color: @fontColor;
  }

  .conditon-wraper {
    width: 221px;
    padding: 8px;
    background-color: @componentBgColor;
    color: @fontColor;

    .conditon-list {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: -20px;
        width: 6px;
        border: 1px solid #454759;
        border-right: none;
      }

      &.no-before {
        &::before {
          display: none;
        }
      }

      .conditon-type {
        position: absolute;
        background: #0d0e10;
        border: 1px solid @borderColor;
        border-radius: 1px;
        width: 20px;
        height: 20px;
        line-height: 18px;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        left: -30px;
      }

      .cond {
        background: #2d2f38;
        border: 1px solid @borderColor;
        height: 24px;
        line-height: 22px;
        padding-left: 8px;
        padding-right: 8px;
        margin-bottom: 12px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:hover {
          color: #1890ff;
        }

        .conditon-name {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .action-component {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 16px;
      bottom: 3px;
      left: -18px;
      width: 6px;
      border: 1px solid @borderColor;
      border-right: none;
    }

    .ant-select-selector {
      background-color: @componentBgColor !important;
      border: 1px solid @borderColor !important;
      border-radius: 3px !important;
      font-size: 14px;
      color: @fontColor;
      font-weight: 400;

      .ant-select-selection-item {
        background-color: #373a4d;
        color: @fontColor;
        border: 1px solid @borderColor !important;
      }

      .ant-select-selection-item-remove {
        color: @fontColor;
      }
    }
  }

  .action-collapse {
    .ant-collapse-content {
      position: relative;
      padding-left: 16px;

      &::before {
        content: "";
        position: absolute;
        top: 16px;
        bottom: 28px;
        left: 1px;
        width: 6px;
        border: 1px solid @borderColor;
        border-right: none;
      }
    }

    .translate-x,
    .translate-y {
      float: left;
      width: calc(50% - 4px);
      position: relative;
    }

    .scale-x,
    .scale-y {
      float: left;
      width: 92px;
      position: relative;
    }

    .scale-lock {
      font-size: 12px;
      color: #ccc;
      cursor: pointer;
      line-height: 32px;
      float: left;
      margin: 0 2px;
    }

    .input-num-suffix {
      display: inline-table;
      line-height: 32px;
      height: 32px;
      position: absolute;
      right: 6px;
      padding: 0;
      background: inherit;
      border: none;
      color: #666;
      top: 0;
    }

    .rotate-item {
      .rotate-slider {
        float: left;
        width: 132px;
        margin-right: 8px;

        .ant-slider-track {
          background-color: @activeComponentBgColor;
        }
      }

      .rotate-number {
        width: 64px;
        float: left;
        position: relative;
      }
    }
  }

  .sc-input .ant-input-number-handler-wrap {
    z-index: 1;
  }
}

.action-select {
  background-color: @bgColor;
  color: @fontColor;

  .ant-select-tree-list-holder-inner {
    background-color: @bgColor;
    color: @fontColor;
  }

  .ant-select-tree-node-content-wrapper:hover {
    background-color: @componentBgColor;
  }

  .ant-select-tree-checkbox-inner {
    background: @componentBgColor;
    border: 1px solid @borderColor;
  }
}
