.left-menu {
  width: 300px;
  min-width: 150px;
  position: relative;
}

.left-wrap {
  position: relative;
  height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 6px;
  background-color: #232630;
}

/* header */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3d404d;
  padding: 0 16px;
  color: #fff;
  z-index: 99999;
}
.header-text {
  text-align: center;
}

.footer {
  /* position: absolute;
  width: 100%;
  bottom: 0;
  left: 0; */
  z-index: 9999;
  background-color: #313239;
}

/* Tree */
.ant-tree-list {
  background-color: #232630;
}

.ant-tree .ant-tree-treenode {
  color: #fff;
  align-items: center !important;
}

/* 下面两个样式的顺序不能变 */
.ant-tree .ant-tree-node-content-wrapper:hover {
  background-color: #313239 !important;
}
.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: #3a89fe !important;
}

.ant-tree-switcher {
  align-self: center !important;
}

/* 去掉树的拖拽图标 */
.ant-tree-draggable-icon {
  display: none;
}
