@import "../../../../../assets/style/variable.less";

.callbackArgs-form {
  color: @fontColor;

  .ant-tabs-nav {
    margin-bottom: 16px;
  }

  .ant-collapse-content-box {
    color: @fontColor;
  }
}