@import "../../../../../assets/style/variable.less";

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  background: @componentBgColor;
  border: 1px solid @borderColor;
  border-radius: 3px;
  width: 145px;
  height: 32px;
  line-height: 32px;
  padding: 0 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-table .ant-table-thead > tr > th {
  padding: 0;
  height: 32px;
  background: #2b2e3e;
  font-size: 14px;
  color: #cccccc;
  font-weight: 400;
  text-indent: 10px;
  border-bottom: 1px solid @borderColor;
}

.custom-table .ant-table-tbody > tr > td {
  border-bottom: 1px solid @borderColor;
  padding: 8px 16px;
}
