.GenerateIcon-wrap {
  height: 48px;
  margin: 0 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s all;

  .icon {
    font-size: 14px;
    margin-bottom: 6px;
    color: #fff;
  }
  .cdb-text {
    display: inline-block;
    font-size: 12px;
    color: #ccc;
    line-height: 16px;
  }
}

.GenerateIcon-wrap:hover {
  background-color: #4B4D63;
}

.activeIcon {
  background-color: #2482FF !important;
}
