.home-header {
  color: #fff;
  padding: 0;
  height: 64px;
  line-height: normal;
}


.p-home {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  height: calc(100vh - 64px);
}

.center-wrap {
  position: relative;
  width: 100%;
}


