.EveryItem-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 5px 12px;
  width: 100px;
  cursor: pointer;

  .db-img {
    width: 104px;
    height: 66px;
    border: 1px solid #22252e;
    // box-shadow: 0 0 2px 2px;
  }
  .db-img:hover {
    border: 1px solid rgb(55, 128, 238);
  }

  .db-text {
    width: 95%;
    height: 28px;
    line-height: 28px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
