.edit-table-wraper {
  width: 300px;
  height: 500px;
  overflow: auto;
  position: relative;

  .fullscreen-btn {
    border-color: transparent !important;
    color: #73768F;
    position: absolute;
    bottom: 12px;
    right: 12px;
    z-index: 10000;
  }

  .x-spreadsheet {
    background: #181a24;
  }

  .x-spreadsheet-scrollbar.vertical {
    visibility: hidden;
  }

}

.spreadsheet-modal {
  .ant-modal-body {
    height: 500px;
    position: relative;

    .ant-spin-spinning {
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }

  .x-spreadsheet {
    background: #181a24;
  }

    // 自定义modal按钮类名
    .modalBtn {
      width: 88px;
      height: 32px;
      border-radius: 3px;
    }
    .okBtn {
      background: #2482ff;
    }
    .cancelBtn {
      margin-right: 8px;
      background: #4a5068;
      border: none;
    }
  
}



.x-spreadsheet-scrollbar.vertical {
  right: 2px;
  bottom: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 7px;
  scrollbar-color: #3a89fe;
  scrollbar-face-color: #3a89fe;
  scrollbar-track-color: #3d404c;
  transform: scaleX(.6);
  transform-origin: 100% 0;
  position: absolute;
  z-index: 12;
  cursor: pointer;
  background-color: none;
  border: none;
  transition: transform .15s;


  &:hover {
    transform: scaleX(1);
  }

  &::-webkit-scrollbar-thumb {
    background: #3a89fe;
  }

  &::-webkit-scrollbar-track {
    background: #3d404c;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    display: block;
  }
}

.x-spreadsheet-resizer.vertical {
  display: none !important;
}

.x-spreadsheet-scrollbar.horizontal {
  right: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 7px;
  scrollbar-color: #0069bd #3d424e;
  scrollbar-face-color: #0072ce;
  scrollbar-track-color: #3d424e;
  transform: scaleY(.6);
  transform-origin: 0 100%;
  position: absolute;
  bottom: 2px;
  z-index: 12;
  cursor: pointer;
  transition: transform .15s;

  &:hover {
    transform: scaleX(1);
  }

  &::-webkit-scrollbar-thumb {
    background: #3a89fe;
  }

  &::-webkit-scrollbar-track {
    background: #3d404c;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    display: block;
  }
}

.x-spreadsheet-editor .x-spreadsheet-editor-area {
  border: 0 !important;

  textarea {
    background: #181a24;
    color: #fff !important;
    line-height: 34px !important;
  }
}