.edit-table-wraper {
  width: 300px;
  height: 500px;
  overflow: auto;

  .x-spreadsheet {
    background: #181a24;
  }

  .x-spreadsheet-scrollbar.vertical {
    right: 2px;
    bottom: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 7px;
    scrollbar-color: #3a89fe;
    scrollbar-face-color: #3a89fe;
    scrollbar-track-color: #3d404c;
    transform: scaleX(.6);
    transform-origin: 100% 0;
    position: absolute;
    z-index: 12;
    cursor: pointer;
    background-color: none;
    border: none;
    transition: transform .15s;

    &:hover {
      transform: scaleX(1);
    }
  }

  .x-spreadsheet-resizer.vertical {
    display: none !important;
  }

  .x-spreadsheet-scrollbar.horizontal {
    right: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 7px;
    scrollbar-color: #0069bd #3d424e;
    scrollbar-face-color: #0072ce;
    scrollbar-track-color: #3d424e;
    transform: scaleY(.6);
    transform-origin: 0 100%;
    position: absolute;
    bottom: 2px;
    z-index: 12;
    cursor: pointer;
    transition: transform .15s;

    &:hover {
      transform: scaleX(1);
    }
  }
}