.publishDashboard-wrap {
  user-select: none;
  position: relative;
  background-color: #181a24;
  // width: 100vw;
  // height: 100vh;
  // padding: 16px;
}

.customScrollStyle::-webkit-scrollbar {
  display: none;
}

.publish-loading-wrap {
  background: url(../../assets/images/previewLoading.png) no-repeat;
  // background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
