.TopBar-wrap {
  box-sizing: content-box;
  width: 100%;
  height: 35px;
  background-color: #373A4D;
  color: #ccc;
  // border-left: 0.5px solid black;
  border-top: 1px solid black;
  // margin-right: 1px;
  border-bottom: 0;
  display: flex;
  //去除 menu.Item 默认行高 并且 垂直居中
  align-items: center;
  line-height: normal;

  .TopBar-submenu {
    height: 100%;
    line-height: 35px;
    width: 68px;
    padding: 0 20px 0 0 !important;
    text-align: right;
    color: #ccc;
  }
  .TopBar-submenu:hover {
    background-color: #4B4D63;
  }
}



.self-tooltip {
  width: 352px;
  height: 376px;
  background: #22252e;
  color: #ccc;
  overflow: auto;
  position: relative;
  // padding-top: 10px;
}
.hasList-self-tooltip {
  width: 456px;
  height: 376px;
  background: #22252e;
  color: #ccc;
  // overflow: hidden;
  overflow: auto;
}

.self-tooltip::-webkit-scrollbar {display:none}
.hasList-self-tooltip::-webkit-scrollbar {display:none}


// .ant-menu-light .ant-menu-submenu-title:hover {
//   color: #fff;
// }

.ant-menu-horizontal > .ant-menu-item::after, .ant-menu-horizontal > .ant-menu-submenu::after {
  display: none;
}

.ant-menu-submenu-popup {
  z-index: 99999;
}