//@import '~antd/lib/style/themes/default.less';
//@import '~antd/dist/antd.less'; // 引入官方提供的 less 样式入口文件
@fontColor:#fff;
@fontColor2: #ccc;
@infoColor:#868996;
@activeFontColor:#2482FF;
@bgColor:#222430;
@bgColor2: #292B38;
@headerBgColor:#3d404d;
@borderColor:#393b4a;
@componentBgColor:#191B25;
@activeComponentBgColor:#2482FF;
@componentContentBgColor:#232630;
@successColor:#53ed10;
@failedColor:#df4d4d;
@header-bg: #373A4D;
@input-search-icon: #BFBFBF;
@table-tr-odd-bg: #222430;
@table-tr-even-bg: @table-header-bg;
// antd 的 less 变量
@primary-color: #2482FF;
@primary-color-hover: #2482FF;
@primary-color-active: #2482FF;
@primary-color-outline: #2482FF;


@text-color: #FFFFFF;
@component-background: #191B25;
@border-color-base: #393B4A;

@btn-default-color: @text-color;
@btn-default-bg: @component-background;
@btn-default-border: @border-color-base;

@input-placeholder-color: #555558;
@input-color: @text-color;
@input-icon-color: @input-color;
@input-border-color: @border-color-base;
@input-bg: @component-background;
@input-number-hover-border-color: @input-hover-border-color;
@input-number-handler-active-bg: #f4f4f4;
@input-number-handler-hover-bg: red;
@input-number-handler-bg: @component-background;
@input-number-handler-border-color: @border-color-base;
@input-addon-bg: red;
@input-hover-border-color: red;
@input-disabled-bg: red;
@input-outline-offset: 0 0;
@input-icon-hover-color: red;
@input-disabled-color: red;


@table-bg: @component-background;
@table-header-bg: #2e3142;
@table-border-color: #393b4a;
@table-row-hover-bg: #191B25;
@table-header-color: @fontColor2;

// select
@select-border-color: @border-color-base;
@select-item-selected-color: @text-color;
@select-item-selected-font-weight: 600;
@select-dropdown-bg: @component-background;
@select-item-selected-bg: #272937;
//@select-item-active-bg: @item-hover-bg;
//@select-dropdown-vertical-padding: @dropdown-vertical-padding;
//@select-dropdown-font-size: @dropdown-font-size;
//@select-dropdown-line-height: @dropdown-line-height;
@select-dropdown-height: 32px;
@select-background: @component-background;
@select-clear-background: @select-background;
//@select-selection-item-bg: @background-color-base;
//@select-selection-item-border-color: @border-color-split;
//@select-single-item-height-lg: 40px;
//@select-multiple-item-height: @input-height-base - @input-padding-vertical-base * 2; // Normal 24px
//@select-multiple-item-height-lg: 32px;
//@select-multiple-item-spacing-half: ceil((@input-padding-vertical-base / 2));
@select-multiple-disabled-background: @input-disabled-bg;
@select-multiple-item-disabled-color: #bfbfbf;
@select-multiple-item-disabled-border-color: @select-border-color;
