@fontColor:#fff;
@fontColor2: #ccc;
@infoColor:#868996;
@activeFontColor:#2482FF;
@bgColor:#222430;
@headerBgColor:#3d404d;
@borderColor:#393b4a;
@componentBgColor:#191B25;
@activeComponentBgColor:#2482FF;
@componentContentBgColor:#232630;
@successColor:#53ed10;
@failedColor:#df4d4d;
@header-bg: #373A4D;
@input-search-icon: #BFBFBF;
@table-tr-odd-bg: #222430;
@table-tr-even-bg: @table-header-bg;
// antd 的 less 变量
@primary-color: #2482FF;
@primary-color-hover: #2482FF;
@primary-color-active: #2482FF;
@primary-color-outline: #2482FF;


@text-color: #FFFFFF;
@component-background: #191B25;
@border-color-base: #393B4A;

@btn-default-color: @text-color;
@btn-default-bg: @component-background;
@btn-default-border: @border-color-base;

@input-placeholder-color: #555558;
@input-color: @text-color;
@input-icon-color: @input-color;
@input-border-color: @border-color-base;
@input-bg: @component-background;
@input-number-hover-border-color: @input-hover-border-color;
@input-number-handler-active-bg: #f4f4f4;
@input-number-handler-hover-bg: red;
@input-number-handler-bg: @component-background;
@input-number-handler-border-color: @border-color-base;
@input-addon-bg: red;
@input-hover-border-color: red;
@input-disabled-bg: red;
@input-outline-offset: 0 0;
@input-icon-hover-color: red;
@input-disabled-color: red;


@table-bg: @component-background;
@table-header-bg: #2e3142;
@table-border-color: #393b4a;
@table-row-hover-bg: #191B25;
@table-header-color: @fontColor2;
