@import "../../../../../assets/style/variable.less";

.custom-form .ant-form-item {
  margin-bottom: 16px;
}

.custom-form .ant-form-item-label {
  width: 80px;
}

.custom-form .ant-form-item-label>label {
  color: #ccc;
  font-size: 14px;
}

/* 背景开始 */
.color-swatch {
  padding: 3px;
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  background: @componentBgColor;
  border: 1px solid @borderColor;
  border-radius: 3px;
  margin-right: 8px;
}

.color-dis {
  width: 24px;
  height: 24px;
  border: 1px solid @borderColor;
  border-radius: 3px;
}

.color-popover {
  position: absolute;
  z-index: 10000;
  left: -40px;
}

.color-cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.size-input.ant-input-affix-wrapper {
  width: 55px;
  margin-left: 5px;
  padding: 2px 0;
  background-color: #232630;
}

.size-input.ant-input-affix-wrapper .ant-input-suffix {
  color: @fontColor;
}

/* 背景结束 */