.cus-component-button-group-btn {
  cursor: pointer;
  height: 100%;
  border-radius: 3px;
  margin-right: 8px;
  text-align: center;
  color: var(--defalutColor);
  font-family: var(--defalutFontFamily);
  font-size: var(--defalutFontSize);
  font-weight: var(--defalutFontWeight);
  background-color: var(--defalutBgc);
  border: var(--defaultBorder);
}

.cus-component-button-group-btn.active {
  opacity: 1;
  color: var(--selectedColor);
  font-family: var(--selectedFontFamily);
  font-size: var(--selectedFontSize);
  font-weight: var(--selectedFontWeight);
  background-color: var(--selectedBgc);
  border: var(--selectedBorder);
}

.cus-component-button-group-btn:last-child {
  margin-right: 0;
}