@import "../../../../../assets/style/variable.less";

.event-drawer {
  .ant-drawer-content-wrapper {
    width: 400px !important;

    .ant-drawer-content {
      background-color: @bgColor;

      .ant-drawer-header {
        background-color: @bgColor;
        color: @fontColor;

        .ant-drawer-close {
          color: @fontColor;
        }

        .ant-drawer-title {
          color: @fontColor;
        }
      }
    }
  }

  .code-editor {
    border: none;

    .cus-code {
      color: @fontColor;
    }

    .code-wraper {
      height: 200px;
    }
  }

  .btn-group {
    text-align: right;
    margin-bottom: 16px;
  }

  .ant-drawer-body {
    scrollbar-width: none;
    /* firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}