@import "../../../../../assets/style/variable.less";

/* 标签页开始 */
.cus-tabs {

  .ant-tabs-nav {
    height: 36px;
    background: @bgColor;
    margin: 0;
    border-bottom: 1px solid #373A4D;
    margin-left:-16px;
    margin-right:-16px;
    margin-bottom: 16px;
  }

  .ant-tabs-nav::before {
    border-bottom: 0;
  }

  .ant-tabs-ink-bar {
    visibility: inherit !important;
  }

  .ant-tabs-tab {
    padding: 6px 24px !important;
    border: 0 !important;
    border-radius: 0 !important;
    margin-left: 0 !important;
    background: @bgColor  !important;
    color: #ccc;
  }

  .ant-tabs-tab-active {
    background: @bgColor  !important;
    color: @fontColor  !important;
    font-weight: 400;
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: @fontColor  !important;
    text-shadow: none;
  }
}