.roleModal{
  .ant-modal-content {
    background-color: #2A2F3D;
    box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    .ant-modal-header{
      background-color: #2A2F3D;
    }
  }
  .rolePermission .ant-table,.ant-table-thead > tr > th{
    background-color: #2A2F3D !important;
  }
}