@import "../../../../../assets/style/variable.less";

.align-form {
  .align,
  .vertical {
    width: 221px;
    height: 32px;
    box-sizing: border-box;
    background: @componentBgColor;
    border: 1px solid @borderColor;
    border-radius: 3px;
    font-size: 14px;
    color: #a1a1a1;
    display: flex;
    text-align: center;
  }

  .align {
    margin-bottom: 8px;
  }

  .align span {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    line-height: 32px;
    border-right: 1px solid @borderColor;
    cursor: pointer;
    flex: 1;
  }

  .align span:last-child {
    border-right: 0;
  }

  .vertical span {
    display: inline-block;
    vertical-align: top;
    height: 32px;
    line-height: 32px;
    border-right: 1px solid @borderColor;
    cursor: pointer;
    flex: 1;
  }

  .vertical span:last-child {
    border-right: 0;
  }

  .align-active {
    background: @activeComponentBgColor;
    color: @fontColor;
  }
}
