@import "../../../../../assets/style/variable.less";

.custom-form {
  .ant-checkbox-wrapper {
    font-size: 14px;
    color: @fontColor;
    font-weight: 400;
  }

  .ant-checkbox-inner {
    background: @componentBgColor;
    border: 1px solid @borderColor;
  }
}
