@import "../../../../../assets/style/variable.less";

.code-wraper {
  width: 100%;
  height: 100%;
  background: @componentBgColor;
  border: 1px solid @borderColor;
  border-radius: 3px;
  position: relative;
  text-align: left;
  
  .fullscreen-btn {
    border-color: transparent !important;
    color: #73768F;
    position: absolute;
    bottom: 12px;
    right: 12px;
    z-index: 1;
  }
}

.ant-modal-content {
  background-color: #2A2F3D;
}

.ant-modal-close {
  color: @fontColor;
}

.ant-modal-header {
  background-color: #2A2F3D;
  border-bottom: none;

  .ant-modal-title {
    color: @fontColor;
  }
}

.ant-modal-footer {
  border-top: none;
}

.ace_scrollbar.ace_scrollbar-v {
  right: 2px;
  bottom: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 7px;
  scrollbar-color: #3a89fe;
  scrollbar-face-color: #3a89fe;
  scrollbar-track-color: #3d404c;
  transform: scaleX(.6);
  transform-origin: 100% 0;
  position: absolute;
  z-index: 12;
  cursor: pointer;
  background-color: none;
  border: none;
  transition: transform .15s;


  &:hover {
    transform: scaleX(1);
  }

  &::-webkit-scrollbar-thumb {
    background: #3a89fe;
  }

  &::-webkit-scrollbar-track {
    background: #3d404c;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    display: block;
  }
}

.ace_scrollbar.ace_scrollbar-h {
  right: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 7px;
  scrollbar-color: #0069bd #3d424e;
  scrollbar-face-color: #0072ce;
  scrollbar-track-color: #3d424e;
  transform: scaleY(.6);
  transform-origin: 0 100%;
  position: absolute;
  bottom: 2px;
  z-index: 12;
  cursor: pointer;
  transition: transform .15s;

  &:hover {
    transform: scaleX(1);
  }

  &::-webkit-scrollbar-thumb {
    background: #3a89fe;
  }

  &::-webkit-scrollbar-track {
    background: #3d404c;
  }

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    display: block;
  }
}