@import "../../../../../assets/style/variable.less";

.code-wraper {
  width: 100%;
  height: 100%;
  background: @componentBgColor;
  border: 1px solid @borderColor;
  border-radius: 3px;
  position: relative;

  .ace_editor {
    background: @componentBgColor;
  }

  .ace_gutter {
    background: @componentBgColor;
    color: @fontColor;
    border-right: 1px solid @borderColor;
  }

  .ace_scrollbar {
    width: 0 !important;
  }

  .fullscreen-btn {
    border-color: transparent !important;
    color: #73768F;
    position: absolute;
    bottom: 12px;
    right: 12px;
    z-index: 1;
  }
}

.ant-modal-content {
  background-color: #2A2F3D;
}

.ant-modal-close {
  color: @fontColor;
}

.ant-modal-header {
  background-color: #2A2F3D;
  border-bottom: none;

  .ant-modal-title {
    color: @fontColor;
  }
}

.ant-modal-footer {
  border-top: none;
}