.code-wraper {
  width: 100%;
  height: 100%;
  background: #191B25;
  border: 1px solid rgba(57, 59, 74, 1);
  border-radius: 3px;
  position: relative;
  .ace_editor{
    background: #191B25;
  }
  .ace_gutter{
    background: #191B25;
    color: #fff;
    border-right: 1px solid rgba(57, 59, 74, 1);
  }
  .ace_scrollbar{
    width:0 !important;
  }
  .fullscreen-btn{
    border-color:transparent !important;
    color:#73768F;
    position: absolute;
    bottom:12px;
    right:12px;
    z-index: 1;
  }
}
.ant-modal-content{
  background-color:  #2A2F3D;
}
.ant-modal-close{
  color: #fff;
}
.ant-modal-header{
  background-color:  #2A2F3D;
  border-bottom:none;
  .ant-modal-title{
    color: #fff;
  }
}
.ant-modal-footer{
  border-top: none;
}