.preview-modal {
  .ant-modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ant-modal-content {
    width: 100vw !important;
  }
}

.preview-img {
  max-width: 100%;
  max-height: 100%;
}