@import "../../../../../assets/style/variable.less";

.data-container-item {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2F313F;
  border: 1px solid #454756;
  margin-top: 8px;
  .edit-area {
    flex: 1
  }
}