.EveryTreeNode-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 100%;
  background-color: green;
  .title {
    background-color: red;
  }
}
.frame {
  width: 40px;
  height: 25px;
  text-align: center;
  border: 1px rgb(46, 11, 128) solid;
}