.EveryTreeNode-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 100%;
}
.title {
  flex: 1;
}
.icon-wrap {
  min-width: 20px;
}
.eyes-icon {
  display: none;
}
.ant-tree-node-content-wrapper:hover .eyes-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 100%;
}

/* 锁的图标 */
.lock-icon {
  margin-right: 8px;
}

/* 自定义Input的背景色 */
.ant-input {
  padding: 2px 0 2px 8px;
  color: #fff;
  background-color: #24262e;
}
