.ip-mapping222 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.ip-mapping222 .bg-one {
  position: absolute;
  width: 84%;
  height: 84%;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  margin: auto;
  object-fit: contain;
}