.hyperlinks{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.hyperlinks-name{
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px 0;
}
.hide{
  background: rgba(76, 255, 231, 0.15);
}