@backColor: #151820;

.LeftTree-wrap {
  width: 256px;
  height: 100vh;
  background-color: @backColor;
  border-right: 1px solid #fff;
  padding: 16px 0 0 16px;
  // margin-right: 24px;
  background-image: url("../../../../assets//images/背景图装饰.png");
  background-repeat: no-repeat;
  background-position: 50% 85%;
  .ant-tree-treenode-selected {
    background-image: linear-gradient(
      90deg,
      #4083ff 0%,
      rgba(44, 78, 145, 0.62) 55%,
      rgba(23, 26, 36, 0) 100%
    );
  }
}
