.custom-form {
  .ant-checkbox-wrapper {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
  }

  .ant-checkbox-inner {
    background: #191B25;
    border: 1px solid rgba(57, 59, 74, 1);
  }
}