.c-canvas {
  flex: 1;
  height: 100%;
  position: relative;
  background: #181a24;
  overflow: hidden;
  padding: 22px 0 0 22px;
}

.canvas-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /*width: 792px;*/
  /*height: 445px;*/
}

.canvas-screen {
  /*width: 1920px;*/
  /*height: 1080px;*/
  /*transform: scale(0.4125);*/
  /*background: #21232E;*/
  transform-origin: left top;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.draggable-wrapper {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.box {
  /*background: #fff;*/
  /*border: 1px solid #999;*/
  position: absolute;
  /*width: 200px;*/
  /*height: 200px;*/
}
