@import "../../../../../assets/style/variable.less";

.cus-input {
  padding: 4px 11px;
  height: 32px;
  background: @componentBgColor;
  border: 1px solid @borderColor;
  border-radius: 3px;
  margin-right: 8px;
}