.component-cascader {
  width: 100%;
  height: 100%;
}
/* 默认样式 */
.component-cascader .ant-select-selector {
  height: 100% !important;
  background: var(--contentStylebgBackground) !important;
  border: var(--borderDefaultWidth) var(--borderDefaultType) var(--borderDefaultColor) !important;
  border-radius: var(--borderDefaultRadius) !important;
  background-position: center center;
  /* 背景图不平铺 */
  background-repeat: no-repeat;
  /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
  background-attachment: fixed;
  /* 让背景图基于容器大小伸缩 */
  background-size: cover;
}
/* 选中样式 */
.component-cascader.ant-select-focused .ant-select-selector {
  border: var(--borderFocusWidth) var(--borderFocusType) var(--borderFocusColor) !important;
  border-radius: var(--borderFocusRadius) !important;
  /* box-shadow: unset; */
}
/* 悬停样式 */
.component-cascader:hover .ant-select-selector {
  border: var(--borderHoverWidth) var(--borderHoverType) var(--borderHoverColor) !important;
  border-radius: var(--borderHoverRadius) !important;
}
/* 文本样式 */
.component-cascader .ant-select-selector .ant-select-selection-search,
.component-cascader .ant-select-selector .ant-select-selection-item {
  align-self: center;
  text-align: var(--contentStyleAlign);
  color: var(--contentStylebgColor);
  font-size: var(--contentStylebgFontSize);
  font-family: var(--contentStylebgFontFamily);
  font-weight: var(--contentStylebgFontWeight);
  line-height: var(--contentStylebgFontSize);
}
/* 提示样式 */
.component-cascader .ant-select-selector .ant-select-selection-placeholder,
.component-cascader .ant-select-arrow {
  align-self: center;
  text-align: var(--contentStyleAlign);
  color: #bfbfbf;
  font-size: var(--contentStylebgFontSize);
  font-family: var(--contentStylebgFontFamily);
  font-weight: var(--contentStylebgFontWeight);
  line-height: var(--contentStylebgFontSize);
}

/* .component-cascader-dropdown {
  min-width: 200px !important;
  width: 200px !important;
  max-height: var(--optionsHeight);
  overflow-y: auto;
  top: var(--top) !important;
} */

.component-cascader-dropdown {
  /* background: aliceblue; */
}

.component-cascader-dropdown .ant-cascader-menu {
  height: auto;
  min-width: auto;
  max-height: 300px;
}

.component-cascader-dropdown .ant-cascader-menu-empty .ant-cascader-menu-item-disabled {
  width: 149px !important;
  height: 91px !important;
}

.component-cascader-dropdown .ant-cascader-menu-item {
  height: var(--selectHight) !important;
  width: var(--selectWidth) !important;
  /* min-width: var(--selectWidth) !important; */
  background: var(--defaultStyleBgColor);
  font-size: var(--defaultStyleFontSize);
  font-weight: var(--defaultStyleFontWeight);
  color: var(--defaultStyleColor);
  font-family: var(--defaultStyleFontFamily);
}

.component-cascader-dropdown .ant-cascader-menu-item:hover {
  background: var(--hoverStyleBgColor);
  font-size: var(--hoverStyleFontSize);
  font-weight: var(--hoverStyleFontWeight);
  color: var(--hoverStyleColor);
  font-family: var(--hoverStyleFontFamily);
}

.component-cascader-dropdown .ant-cascader-menu-item-active {
  background: var(--selectedStyleBgColor);
  font-size: var(--selectedStyleFontSize);
  font-weight: var(--selectedStyleFontWeight);
  color: var(--selectedStyleColor);
  font-family: var(--selectedStyleFontFamily);
}
