.RightClickMenu-wrap {
  /* position: absolute; */
  width: 130px;
  height: 392px;
  border: 1px solid #000;
  background-color: #232630;
  z-index: 9999999;
}

.menu-item {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  color: #fff;
  padding-left: 16px;
  font-weight: 200;
}

.disabled-menu-item {
  color: rgb(122, 115, 115);
  pointer-events: none;
}

.menu-item:hover {
  cursor: pointer;
  background-color: #3a89fe;
}

.menu-item-li {
  position: relative;
  list-style: none;
  flex: 1;
  margin-left: 8px;
}
/* hover显示二级菜单 */
.li-hover:hover > .menu-item-li > .SecondMenu-wrap {
  display: block;
}
.right-icon {
  margin-right: 10px;
}
