.SecondMenu-wrap {
  display: none;
  position: absolute;
  top: -14px;
  width: 130px;
  left: 90px;
  border: 1px solid #000;
  background-color: #232630;
}
/* .SecondMenu-wrap:hover {
  display: block;
} */

.second-menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 26px;
  color: #fff;
  padding-left: 16px;
  font-weight: 200;
}


.second-menu-item:hover {
  cursor: pointer;
  background-color: #3a89fe;
}
/* 从SubMenu开始递归,所以从这儿开始设置样式  保证每个Item项 hover的时候，只显示下一级的菜单
*/
.second-menu-item:hover > .second-menu-item-li > .SecondMenu-wrap {
  display: block;
  position: absolute;
  top: -7px;
}

.second-menu-item-li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  list-style: none;
  margin-left: 8px;
}