.zoom-set {
  float: left;
  .ant-radio-inner{
    background: #232630;
    border: 1px solid rgba(92,95,123,1);
  }
  .ant-radio-input:focus + .ant-radio-inner{
    box-shadow: none;
  }
  .ant-radio-wrapper > span:nth-child(2){
    color: #fff;
  }
}