@import "../../../../../assets/style/variable.less";

.zoom-set {
  float: left;

  .ant-radio-inner {
    background: @componentContentBgColor;
    border: 1px solid #5c5f7b;
  }

  .ant-radio-input:focus+.ant-radio-inner {
    box-shadow: none;
  }

  .ant-radio-wrapper>span:nth-child(2) {
    color: @fontColor;
  }
}