@import "../../../../assets/style/variable.less";

.data-container-wrap {
  .ant-btn-default {
    color: @btn-default-color;
    border-color: @btn-default-border;
    background-color: @btn-default-bg;
  }
  .ant-btn:hover, .ant-btn:focus, .ant-btn-link:active {
    color: @primary-color-hover;
    border-color: @primary-color-hover;
  }
  .ant-btn-link:hover, .ant-btn-link:focus, .ant-btn-link:active {
    border-color: transparent;
  }

  .ant-input {
    background-color: @input-bg;
    border-color: @input-border-color;
  }
  .ant-input:hover {
    border-color: @primary-color-hover;
  }
  .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: @primary-color-hover;
  }
  .ant-input:focus, .ant-input-focused {
    border-color: @primary-color-hover;
  }
  .ant-input-affix-wrapper {
    background-color: @input-bg;
    border-color: @input-border-color;
    .ant-input-clear-icon {
      color: @input-icon-color
    }
  }
  .ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
    border-color: @primary-color-hover;
  }
  .input-search-icon {
    color: @input-search-icon;
    cursor: pointer;
  }

  .ant-drawer .ant-table thead > tr > th {
    background-color: @table-header-bg;
    border-color: @table-border-color;
    color: @fontColor2
  }
  .ant-table-tbody > tr > td {
    border-bottom: 1px solid @table-border-color;
    color: @fontColor2
  }
  .ant-table-tbody > tr:nth-child(even) {
    background: @table-tr-even-bg
  }
  .ant-table-tbody > tr:nth-child(odd) {
    background: @table-tr-odd-bg
  }
  .ant-table-tbody>tr>td.ant-table-cell-row-hover {
    background: @table-row-hover-bg
  }

  .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table {
    border-color: @table-border-color
  }
  .ant-table.ant-table-bordered > .ant-table-container {
    border-color: @table-border-color
  }
  .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th {
    border-right:1px solid @table-border-color
  }
  .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td {
    border-right:1px solid @table-border-color
  }
}
.data-container-drawer {
  position: absolute;
  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      background-color: @bgColor;
      .ant-drawer-wrapper-body {
        .ant-drawer-header {
          @apply g-p-2 g-text-center;
          background: #373A4D;
          color: @fontColor;
          border-bottom: unset;
          .ant-drawer-close {
            color: @fontColor;
          }

          .ant-drawer-title {
            color: #ccc;
          }
        }
        .ant-drawer-body {
          @apply g-p-4;
        }
      }
    }
  }

  .data-container-handle {
    display: flex;
  }
}

