@backColor: #171a24;

.RightContent-wrap {
  width: 100%;
  max-height: calc(100vh - 100px);
  background-color: @backColor;
  overflow-y: auto;
  // ie 火狐 隐藏滚动条
  -ms-overflow-style: none;
  scrollbar-width: none;

  // 排列内部卡片
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;

  .setMargin {
    margin-right: 26px;
  }
  // 发布弹窗 内容 的样式
  .fabu-modal {
    text-align: center;
    user-select: none;
    .img-wrap {
      height: 160px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 140px;
        height: 140px;
      }
    }
    .text {
      height: 24px;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #ffffff;
      line-height: 24px;
      font-weight: 400;
      margin: 8px 0 10px 0;
    }
    .fabu-spin {
      width: 106px;
      margin: 0 auto;
    }
    .set-flex {
      display: flex;
      align-items: center;
      .set-flex-1 {
        flex: 1
      }
    }
    .ant-input {
      height: 32px;
      line-height: 32px;
    }
  }
}

.RightContent-wrap::-webkit-scrollbar {
  display: none;
}
