@import "../../../../../assets/style/variable.less";

// 数据配置
.data-config {
  margin-top: 16px;

  &:last-child {
    padding-bottom: 16px;
  }

  .ant-btn {
    background: @componentBgColor;
    border: 1px solid @borderColor;
    border-radius: 3px;
    color: @fontColor;
  }

  .data-header {
    display: flex;
    justify-content: space-between;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #CCCCCC;
    font-weight: 400;

    .data-interface {
      i {
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: #19A5F9;
        border-radius: 50%;
        margin-right: 8px;
      }
    }
  }

  .data-content{
    .data-code-wraper{
      width:300px;
      height:198px;
      margin-top:16px;
    }
  }

  .data-footer {

  }
}
.data-filter {
  height: 32px;
  line-height: 32px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;

  .ant-checkbox-wrapper {
    font-size: 14px;
    color: @fontColor;
    font-weight: 400;
  }

  .ant-checkbox-inner {
    background: @componentBgColor;
    border: 1px solid @borderColor;
  }

  .ant-btn[disabled],
  .ant-btn[disabled]:hover,
  .ant-btn[disabled]:focus,
  .ant-btn[disabled]:active {
    color: rgba(255, 255, 255, 0.3);
    border-color: #434343;
    background: rgba(255, 255, 255, 0.08);
    text-shadow: none;
    box-shadow: none;
  }

  .ant-btn-default {
    color: @btn-default-color;
    border-color: @btn-default-border;
    background-color: @btn-default-bg;
  }

  .ant-btn:hover,
  .ant-btn:focus,
  .ant-btn-link:active {
    color: @primary-color-hover;
    border-color: @primary-color-hover;
  }

  .filter-num[disabled] {
    color: rgba(255, 255, 255, 0.3);
    border-color: #434343;
    background: rgba(255, 255, 255, 0.08);
    text-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
  }
}

.data-type {
  width: calc(100% + 32px);
  position: relative;
  left: -16px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: @border-color-base;
  padding-left: 16px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: @fontColor2;
  background-color: @bgColor2;
}

.data-select-source {
  margin-top: 16px;

  .okBtn {
    background-color: @activeComponentBgColor;
  }
}

.api-data-source-config {
  .reuqest-baseurl {
    margin-top: 16px;

    .ant-input-disabled {
      float: right;
      margin-right: 0;
    }
  }

  .ant-checkbox-wrapper {
    font-size: 14px;
    color: @fontColor;
    font-weight: 400;
  }

  .ant-checkbox-inner {
    background: @componentBgColor;
    border: 1px solid @borderColor;
  }

  .request-back {
    text-align: left;
    margin-bottom: 16px;
  }

  .request-cookie {
    text-align: left;
  }
}

.request-header,
.request-body,
.es-query {
  text-align: left;
  margin-bottom: 16px;

  .data-name {
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #CCCCCC;
  }
}

.data-container-config {
  color: @fontColor2;

  .data-container-tabs {

    &-item {
      color: @fontColor2;
      max-width: 60px;
      height: 28px;
      line-height: 28px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border: 1px solid @border-color-base;
      padding: 0 8px;
      &:hover {
        color: @fontColor;
        background-color: @component-background;
        border-bottom: 0;
      }

      &-active {
        color: @fontColor;
        background-color: @component-background;
        border-bottom: 0;

      }
    }
  }

  .ant-btn-default {
    color: @btn-default-color;
    border-color: @btn-default-border;
    background-color: @btn-default-bg;
  }

  .ant-btn:hover,
  .ant-btn:focus,
  .ant-btn-link:active {
    color: @primary-color-hover;
    border-color: @primary-color-hover;
  }

  .ant-btn-link:hover,
  .ant-btn-link:focus,
  .ant-btn-link:active {
    border-color: transparent;
  }

  .ant-select-selector {
    background-color: @componentBgColor  !important;
    border: 1px solid @borderColor  !important;
    border-radius: 3px !important;
    font-size: 14px;
    color: @fontColor;
    font-weight: 400;

    .ant-select-selection-item {
      background-color: #373A4D;
      color: @fontColor;
      border: 1px solid @borderColor  !important;
    }

    .ant-select-selection-item-remove {
      color: @fontColor;
    }
  }


}
