@import '../../.../../../../../assets/style/variable.less';

/* 组件文字start */
.component-wraper {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #303344;
}

.component-wraper>h4 {
  margin: 0;
  color: @fontColor;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 8px;
  height: 20px;
  line-height: 20px;
}

.component-wraper>p {
  opacity: 0.6;
  font-size: 12px;
  color: @fontColor;
  font-weight: 400;
}

/* 组件文字end */

.detail-setting {
  padding: 16px 16px 0;
}
