.font-select{
  width: 145px !important;
  border-radius: 3px !important;
  margin-right: 8px !important;
  color: #fff !important;
  text-align: left;
}
.font-select .ant-select-selector{
  border: 1px solid rgb(48, 51, 75) !important;
  background-color: #191B25 !important;
}
.font-select .ant-select-arrow{
  color:#73768F;
}
.fontBi .ant-tag-checkable{
  width: 32px;
  height: 32px;
  line-height:32px;
  background: #191B25;
  border: 1px solid rgba(57,59,74,1);
  border-radius: 3px;
  color:#A1A1A1;
  font-size: 14px;
  font-weight: bold;
  margin-right: 8px !important;
}
.fontBi .ant-tag-checkable:active, 
.fontBi .ant-tag-checkable-checked{
  color:  #2482FF;
  border: 1px solid #2482FF;
}
.po-size-input.unit-input{
  width:66px;
}
.po-size-input.unit-input .ant-input-number-input-wrap::after{
  content: "px";
}
