@import "~antd/dist/antd.dark.css";
body{
  background-color: #fff;
}
.full-spin{
  width: 100%;
  min-height: 100vh;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: #171a24;
}
.content-empty{
  margin: 0!important;
  font-size: 14px;
  line-height: 1.5715;
  text-align: center;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #171a24;
  color: #fff;
}

.content-class{
  background: #171a24;
  width: 100%;
  min-height: calc(100vh - 64px);
}

/*
*全局样式
*/

// 输入框搜索框统一修改
.myant-search,.myant-select{
  color:#fff;
  background: #232630;
}
.ant-form-item-required{
  &::before{
    color: #ff3636 !important;
  }
}
/****** 修改ant Tree的样式 ***/
.ant-tree-node-content-wrapper:hover .eyes-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
// hover节点的时候，去除默认背景色
.ant-tree .ant-tree-node-content-wrapper:hover {
  background-color: rgba(255, 255, 255, 0);
}
// 选中节点的时候，去除默认背景色
.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: rgba(255, 255, 255, 0);
}

.ant-tree .ant-tree-switcher {
  align-self: center;
}
// 固定左侧列表的宽度
.ant-tree .ant-tree-treenode {
  width: 240px;
  padding-right: 16px;
  padding-bottom: 0;
}
.ant-tree .ant-tree-treenode:hover {
  background-image: linear-gradient(
    90deg,
    #4083ff 0%,
    rgba(44, 78, 145, 0.62) 55%,
    rgba(23, 26, 36, 0) 100%
  );
}
.ant-tree .ant-tree-treenode:hover .show-icon {
  display: flex;
  align-items: center;

}
.ant-tree .ant-tree-treenode:hover .show-nums {
  display: none;
}
// 需要去除padding
.ant-tree .ant-tree-node-content-wrapper {
  padding: 0;
}

// 更改表格全局样式
.table-wrap{
  background-color: #171a24;
  // overflow: auto;
  .textInOperationColumn {
    cursor: pointer;
    color: #4d99ff;
    font-size: 14px;
    font-weight: 400px;
  }

  // 自定义表格头部的颜色
  // th.customHeaderColor {
  //   background-color: red;
  // }
  .ant-table-thead > tr > th {
    background: #353b4e !important;
  }
  // 去除表头每列前的小竖线
  .ant-table-thead > tr > th.ant-table-cell::before {
    display: none;
  }
  .ant-table-tbody > tr > td.ant-table-cell-row-hover {
    background-color: rgba(36,130,255,0.1);
  }
  // 奇偶 行不同背景色
  .customRowClass:nth-child(odd) {
    background-color: rgba(53, 59, 78, 0.5);
  }
  .customRowClass:nth-child(even) {
    background-color: #171a24;
  }
  // 分页器 ”共xx条” 显示在最左侧
  .ant-pagination-total-text {
    margin-right: auto;
  }
  // 分页器页码样式调整
  .ant-pagination-item-active {
    background-color: #2482ff;
  }
  .ant-pagination-item-active a {
    color: #fff;
  }

  // 表格右侧滚动条清除
  .ant-table-body::-webkit-scrollbar {
    display: none;
  }
  // 兼容ie和火狐
  .ant-table-body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

}

// modal组件自带类名
.ant-modal-header,
.ant-modal-footer {
  border: none;
}
.ant-modal-content {
  min-width: 534px;
  // height: 488px;
  background: #2a2f3d;
  box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}
.ant-modal-header {
  padding: 16px 24px 24px 24px;
  background-color: #2a2f3d;
}
.ant-modal-footer{
  padding: 24px;
}
.ant-modal-body {
  padding: 0px 40px;
  // 没有footer时增加底部padding
  &:last-child{
    padding: 0 40px 24px 40px;
  }
}
.ant-modal-close-x{
  line-height: 47px;
  color: #fff;
}
.ant-form-item{
  &:last-child{
    margin: 0;
  }
}
/** 统一设置表单下所有输入框的背景色*/
.setBackColor {
  background: #232630;
  .ant-upload{
    border: 1px dashed #4e526a;
  }
}