.full-spin{
  width: 100%;
  min-height: 100vh;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: #171a24;
}
.content-empty{
  margin: 0!important;
  font-size: 14px;
  line-height: 1.5715;
  text-align: center;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #171a24;
  color: #fff;
}

.content-class{
  background: #171a24;
  width: 100%;
  min-height: calc(100vh - 64px);
}


/*
*全局样式
*/

/* 自定义Input的背景色 */
.ant-input {
  color: #fff;
  background-color: #24262e;
}
.ant-input-search{
  background-color: #24262e;
}
.set-margin {
  margin-right: 12px;
  color: #585c76;
}
.set-icon-size {
  font-size: 14px;
}

.each-icon {
  margin: 0 2px;
}

/****** 修改ant Tree的样式 ***/
.ant-tree-node-content-wrapper:hover .eyes-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.ant-tree-node-content-wrapper-open .title{
  color: #fff;
}
.ant-tree .ant-tree-node-content-wrapper{
  color:#ccc;
}
// hover节点的时候，去除默认背景色
.ant-tree .ant-tree-node-content-wrapper:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
}
// 选中节点的时候，去除默认背景色
.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
}
.ant-tree .ant-tree-switcher {
  align-self: center;
}
// 固定左侧列表的宽度
.ant-tree .ant-tree-treenode {
  width: 240px;
  padding-right: 16px;
  padding-bottom: 0;
}
.ant-tree .ant-tree-treenode:hover {
  background-image: linear-gradient(
    90deg,
    #4083ff 0%,
    rgba(44, 78, 145, 0.62) 55%,
    rgba(23, 26, 36, 0) 100%
  );
}
.ant-tree .ant-tree-treenode:hover .show-icon {
  display: flex;
  align-items: center;
}
.ant-tree .ant-tree-treenode:hover .show-nums {
  display: none;
}
// 需要去除padding
.ant-tree .ant-tree-node-content-wrapper {
  padding: 0;
}