.rotaion-angle .ant-tag-checkable{
  width: 32px;
  height: 32px;
  line-height:32px;
  background: #191B25;
  border: 1px solid rgba(57,59,74,1);
  border-radius: 3px;
  color:#A1A1A1;
  font-size: 14px;
  font-weight: bold;
}
.rotaion-angle .ant-tag-checkable:active, 
.rotaion-angle .ant-tag-checkable-checked{
  color:  #2482FF;
  border: 1px solid #2482FF;
}