@import "../../../../../assets/style/variable.less";

.SingleLayer-wrap {
  text-align: center;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* .header{
  width: 100%;
  height: 36px;
  line-height: 36px;
  color: #ccc;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: #373A4D;
  margin:0;
} */
.SingleLayer-wrap .content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}

/* 标签页开始 */
.custom-tabs {
  height: 100%;
}

.custom-tabs .ant-tabs-nav {
  height: 36px;
  background: #373A4D;
  margin: 0;
}

.custom-tabs .ant-tabs-nav::before {
  border-bottom: 0;
}

.custom-tabs .ant-tabs-ink-bar {
  visibility: inherit !important;
}

.custom-tabs .ant-tabs-tab {
  padding: 6px 24px !important;
  border: 0 !important;
  border-radius: 0 !important;
  margin-left: 0 !important;
  background: #373A4D !important;
  color: #ccc;
}

.custom-tabs .ant-tabs-tab-active {
  background: #585C74 !important;
  color: @fontColor  !important;
  font-weight: 400;
}

.custom-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: @fontColor  !important;
  text-shadow: none;
}

/* 标签页结束 */
.custom-form .ant-form-item-label {
  width: 80px;
}

.custom-form .ant-form-item-label>label {
  color: #ccc;
  font-size: 14px;
}

.size-input {
  width: 80px;
}

.zoom-set .ant-radio-wrapper>span:nth-child(2) {
  color: @fontColor;
}

.custom-collapse {
  background-color: @componentContentBgColor;
  border: none;

}

.custom-collapse .ant-collapse-header {
  color: #ccc !important;
  background-color: @bgColor  !important;
  padding: 0 0 16px 0 !important;

}

.custom-collapse .ant-collapse-content {
  background-color: @bgColor;
  border: none;
}

.custom-collapse .ant-collapse-content-box {
  padding: 0;
}

.custom-collapse>.ant-collapse-item {
  border-bottom: 1px solid @headerBgColor;
}

.custom-collapse>.ant-collapse-item:last-child {
  border: none;
}

.SingleLayer-wrap .ant-table {
  background-color: @componentContentBgColor;
  color: @fontColor;
}

.SingleLayer-wrap .ant-table-thead>tr>th {
  background-color: @headerBgColor;
  color: @fontColor;
}

.SingleLayer-wrap .ant-table-tbody>tr.ant-table-row:hover>td,
.SingleLayer-wrap .ant-table-tbody>tr>td.ant-table-cell-row-hover {
  background-color: @headerBgColor;
  color: @fontColor;
}


/* 右侧设置隐藏滚动条 */
.SingleLayer-wrap .ant-tabs-content::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

.SingleLayer-wrap .ant-tabs-content {
  scrollbar-width: none;
  /* firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

// 数据配置
.data-config {
  margin-top: 16px;

  .ant-btn {
    background: @componentBgColor;
    border: 1px solid @borderColor;
    border-radius: 3px;
    color: @fontColor;
  }

  .data-header {
    display: flex;
    justify-content: space-between;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #CCCCCC;
    font-weight: 400;

    .data-interface {
      i {
        display: inline-block;
        width: 8px;
        height: 8px;
        background-color: #19A5F9;
        border-radius: 50%;
        margin-right: 8px;
      }
    }
  }

  .data-footer {
    height: 32px;
    line-height: 32px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;

    .ant-checkbox-wrapper {
      font-size: 14px;
      color: @fontColor;
      font-weight: 400;
    }

    .ant-checkbox-inner {
      background: @componentBgColor;
      border: 1px solid @borderColor;
    }
  }
}