@import "../../../../../assets/style/variable.less";

.font-select {
  width: 145px !important;
  border-radius: 3px !important;
  margin-right: 8px !important;
  color: @fontColor !important;
  text-align: left;
}

.font-select .ant-select-selector {
  border: 1px solid #30334b !important;
  background-color: @componentBgColor !important;
}

.font-select.ant-select .ant-select-selector:hover {
  border-color: #177ddc !important;
}

.font-select.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border-color: #40a9ff !important;
}

.font-select .ant-select-arrow {
  color: #73768f;
}

.fontBi {
  text-align: center;
  .ant-tag-checkable {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background: @componentBgColor;
    border: 1px solid @borderColor;
    border-radius: 3px;
    color: #a1a1a1;
    font-size: 14px;
    font-weight: bold;
    margin-right: 8px !important;
  }
}

.fontBi .ant-tag-checkable:active,
.fontBi .ant-tag-checkable-checked {
  color: @activeComponentBgColor;
  border: 1px solid @activeComponentBgColor;
}

.po-size-input.unit-input {
  width: 66px;
}

.po-size-input.unit-input .ant-input-number-input-wrap::after {
  content: "px";
}
