.normalTable .ant-table {
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0);
}
.normalTable .ant-table .ant-table-body {
  border-right: #2F2F2F;
}
.normalTable .ant-table .ant-table-body::-webkit-scrollbar {
  cursor: pointer;
  width: 6px;
  height: 6px;
}
.normalTable .ant-table .ant-table-body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  background: var(--scrollThumb);
  margin-bottom: 10px;
}
.normalTable .ant-table .ant-table-body::-webkit-scrollbar-track {
  -webkit-box-shadow: 0;
  border-radius: 0;
  background: var(--scrollTrack);
  border-radius: 10px;
}
.normalTable .ant-table .ant-table-thead tr th {
  background-color: var(--headerBgColor);
  color: var(--headerFontColor);
  font-weight: var(--headerFontBold);
  font-family: var(--headerFontFamily);
  font-size: var(--headerFontSize);
  font-style: var(--headerFontStyle);
  letter-spacing: var(--letterSpacing);
  line-height: var(--headerLineHeight);
  border: none;
}
.normalTable .ant-table .ant-table-tbody .ant-table-row td {
  background-color: inherit;
  border: none;
}
.normalTable .ant-table .ant-table-tbody .ant-table-row.evenRow {
  background-color: var(--evenBgColor);
}
.normalTable .ant-table .ant-table-tbody .ant-table-row.oddRow {
  background-color: var(--oddBgColor);
}
.normalTable .ant-table .ant-table-tbody .ant-table-row:hover {
  background-color: var(--hoverBgColor);
}
.normalTable .ant-table .ant-table-tbody .ant-table-expanded-row {
  background-color: var(--expandBgColor);
}
.normalTable .ant-table .ant-table-tbody .ant-table-expanded-row td {
  background-color: inherit;
}
.normalTable .ant-table .ant-table-tbody .ant-table-placeholder .ant-empty {
  color: var(--headerFontColor);
}
.normalTable .row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
}
.normalTable .row-dragging td {
  padding: 16px;
}
.normalTable .row-dragging .drag-visible {
  visibility: visible;
}
