.DrillDownSetting-wrap {
  .level {
    display: flex;
    margin-top: 20px;
    align-items: center;
  }
  .treeSelect-wrap {
    flex: 1;
    margin-right: 10px;
  }
  .level-title {
    display: flex;
    align-items: center;
    margin: 0 5px 0 15px;
    // min-width: 100px;
  }

  .tip-text {
    display: flex;
    justify-self: flex-start;
    margin: 12px 0 4px 16px;
  }
  .data-code-wraper {
    width: 300px;
    height: 150px;
    margin: 0 16px 16px 16px;
  }
}
