@import "../../../../../assets/style/variable.less";

.rotaion-angle .ant-tag-checkable {
  width: 32px;
  height: 32px;
  line-height: 32px;
  background: @componentBgColor;
  border: 1px solid @borderColor;
  border-radius: 3px;
  color: #A1A1A1;
  font-size: 14px;
  font-weight: bold;
}

.rotaion-angle .ant-tag-checkable:active,
.rotaion-angle .ant-tag-checkable-checked {
  color: @activeComponentBgColor;
  border: 1px solid @activeComponentBgColor;
}