@backColor: #151820;

.LeftTree-wrap {
  width: 256px;
  height: 100vh;
  background-color: @backColor;
  padding: 16px 0 0 16px;
  margin-right: 24px;
  background-image: url('../../../../assets//images/背景图装饰.png');
  background-repeat: no-repeat;
  background-position: 50% 85%;
}
