.searchContainer{
  .filter{
    padding: 16px 16px;
    background-color: #2a2f3d;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  .search{
    display: flex;
    justify-content: end;
    .ant-input-group-wrapper.ant-input-search{
      background-color: #232630;
    }
  }
}