.left-menu {
  width: 250px;
  min-width: 188px;
  height: 100%;
  position: relative;
  transition: all linear 0.3s;
  .layers-tree .ant-tree-treenode-selected {
    background-color: #2482ff !important;
    transition: unset;
  }
  .left-wrap {
    width: 100%;
    position: relative;
    height: calc(100% - 40px);
    // overflow: auto;
    padding-bottom: 6px;
    background-color: #232630;

    overflow-y: auto;
    overflow-x: hidden;
    // 兼容 fireFox 和 ie
    scrollbar-width: none;
    -ms-overflow-style: none;

    .left-wrap-toolbar {
      position: sticky;
      top: 35px;
      left: 0;
      width: 100%;
      background-color: #232630;
      z-index: 999;
    }
    /* header */
    .left-tree-header {
      position: sticky;
      top: 0;
      width: 100%;
      height: 36px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #373A4D;
      padding: 0 16px;
      color: #ccc;
      z-index: 999;
    }
    .header-text {
      text-align: center;
    }

    .left-wrap-tree {
      // height: calc(100% - 70px);
      // height: 100%;
    }
  }
  .left-wrap::-webkit-scrollbar {
    display: none;
  }
  // .left-wrap-tree::-webkit-scrollbar-thumb {
  //   background-color: #232630;
  //   outline-offset: -2px;
  //   outline: 2px solid #232630;
  //   -webkit-border-radius: 20px;
  //   border: 2px solid #232630;
  // }

  // /*---鼠标点击滚动条显示样式--*/

  // .left-wrap-tree::-webkit-scrollbar-thumb:hover {
  //   background-color: #313239;
  //   -webkit-border-radius: 20px;
  // }

  // /*---滚动框背景样式--*/

  // .left-wrap-tree::-webkit-scrollbar-track-piece {
  //   background-color: #232630;
  //   -webkit-border-radius: 20px;
  // }

  .footer {
    /* position: absolute;
    width: 100%;
    bottom: 0;
    left: 0; */
    z-index: 9999;
    background-color: #313239;
  }

  /* Tree */
  .ant-tree-list {
    background-color: #232630;
  }

  .ant-tree .ant-tree-treenode {
    color: #fff;
    align-items: center !important;
    // antd 组件树节点默认有 4px 的 paddingBottom值, 清除
    padding: 0;
  }
  .ant-tree .ant-tree-treenode:hover {
    background-color: #373A4D;
    background-image: none;
  }
  .ant-tree .ant-tree-node-content-wrapper:hover {
    background-color: #373A4D;
  }

  .ant-tree-switcher.ant-tree-switcher_close {
    display: inline-block;
    width: 24px !important;
    text-align: right;
  }
  .ant-tree-switcher.ant-tree-switcher_open {
    display: inline-block;
    width: 24px !important;
    text-align: right;
  }
  .ant-tree-indent {
    // width: 0;
  }
  .EveryTreeNode-wrap {
    position: relative;
  }
  .ant-tree-switcher {
    // width: 0;
    // position: absolute;
    width: 14px;
    z-index: 999;
  }
  // .ant-tree-switcher ant-tree-switcher-noop {
  //   width: 0;
  // }

  /* 下面两个样式的顺序不能变 */
  // .ant-tree .ant-tree-node-content-wrapper:hover {
  //   background-color: #313239 !important;
  // }
  // .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  // }

  .ant-tree-switcher {
    align-self: center !important;
  }

  /* 去掉树的拖拽图标 */
  .ant-tree-draggable-icon {
    display: none;
  }
}
