@import "~antd/dist/antd.dark.css";

.alarmLog-warp{
  padding: 16px 32px;
  background-color: #171a24;
  min-width: 1110px;
  height: 100vh;
  .title {
    width: 64px;
    height: 22px;
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .condition{
    display: flex;
    width: 100%;
    padding: 20px 16px;
    padding-left: 0;
    .time-range{
      margin-right: 24px;
      span{
        font-size: 12px;
        margin-right: 8px;
      }
    }
    .state{
      margin-right: 24px;
      span{
        font-size: 12px;
        margin-right: 8px;
      }
    }
  }
  .search-read{
    display: flex;
    justify-content: end;
    .search{
      margin-right: 20px;
    }
    .read{
      cursor: pointer;
    }
  }
  .table-list{
    
  }
}