@import "~antd/dist/antd.dark.css";

.alarmLog-warp{
  padding: 16px 32px;
  background-color: #171a24;
  min-width: 1110px;
  height: 100vh;
  .title {
    width: 64px;
    height: 22px;
    font-family: PingFangSC-Semibold;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 16px;
  }
  .condition{
    display: flex;
    width: 100%;
    padding: 20px 16px;
    padding-left: 0;
    .time-range{
      margin-right: 24px;
      span{
        font-size: 12px;
        margin-right: 8px;
      }
    }
    .state{
      margin-right: 24px;
      span{
        font-size: 12px;
        margin-right: 8px;
      }
    }
  }
  .search-read{
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    .search{
      margin-right: 20px;
    }
    .read{
      cursor: pointer;
    }
  }
  .table-list{
    background-color: #171a24;
    // overflow: auto;
    .unread{
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #fb5050;
      margin-right: 8px;
    }
    .read{
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #1abe68;
      margin-right: 8px;
    }
    .buttonBlue {
      // color: #4d99ff;
      margin: 0 -16px;
    }
    .buttonGray {
      margin: 0 -16px;
    }
    .textInOperationColumn {
      cursor: pointer;
      color: #4d99ff;
      font-size: 14px;
      font-weight: 400px;
    }
    .textInOperationColumnDisabled{
      cursor: not-allowed;
      color: #c0c0c0;
      pointer-events: none;
    }

    // 自定义表格头部的颜色
    // th.customHeaderColor {
    //   background-color: red;
    // }
    .ant-table-thead > tr > th {
      background: #353b4e !important;
    }
    // 去除表头每列前的小竖线
    .ant-table-thead > tr > th.ant-table-cell::before {
      display: none;
    }
    // 奇偶 行不同背景色
    .customRowClass:nth-child(even) {
      background-color: rgba(53, 59, 78, 0.5);
    }
    .customRowClass:nth-child(odd) {
      background-color: #171a24;
    }
    // 分页器 ”共xx条” 显示在最左侧
    .ant-pagination-total-text {
      margin-right: auto;
    }
    // 分页器页码样式调整
    .ant-pagination-item-active {
      background-color: #2482ff;
    }
    .ant-pagination-item-active a {
      color: #fff;
    }

    // 表格右侧滚动条清除
    .ant-table-body::-webkit-scrollbar {
      display: none;
    }
    // 兼容ie和火狐
    .ant-table-body {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}