.wrapClassName{
  .ant-modal-content{
    background-color: #292f3e;
    .ant-modal-close{
      color: #fff
    }
    .ant-modal-header{
      background-color: #292f3e;
      border-bottom: none;
      .ant-modal-title{
        font-weight: 600;
      }
    }
    .ant-modal-body{
      padding-top: 16px;
      padding-bottom: 16px;
    }
    .ant-modal-footer{
      border-top: none;
      padding-bottom: 18px;
      .ant-btn-default{
        background-color: #4a5068;
        margin-right: 8px;
        &:hover{
          color:#fff;
          border: 1px solid #5F657D;
          background-color: #5F657D
        }
        &:focus{
          color:#fff;
          border: 1px solid #5F657D;
          background-color: #5F657D
        }
      }
    }
  }
  .bodyContent{
    padding: 0 10px;
    display: flex;
    .icon{
      margin-right: 10px;
    }
    .text{
      word-break: break-all;
      line-height: 25px;
    }
  }
}