@keyframes opacityAnimate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scaleAnimate {
  from {
    transform: scaleX(0) scaleY(0);
  }

  to {
    transform: scaleX(1) scaleY(1);
  }
}