@import "../../../../../assets/style/variable.less";

.cus-input {
  padding: 4px 11px;
  height: 32px;
  background: @componentBgColor;
  border: 1px solid @borderColor;
  border-radius: 3px;
  //margin-right: 8px;

  &[disabled] {
    color: #fff;
    background: #242630;
    border: 1px solid #393b4a;

    &:hover {
      border: 1px solid #393b4a;
    }
  }
}
