.EveryTreeNode-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 100%;
  color: #ccc;
  padding-left: 2px;
}
.aa {
  background-color: #2482FF;
}
.title {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  .title-text {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.frame {
  width: 40px;
  height: 25px;
  text-align: center;
  border: 1px rgb(204, 199, 199) solid;
}
.set-margin {
  margin-right: 12px;
  color: #585c76;
}
.set-icon-size {
  font-size: 14px;
}
.eyes-icon {
  display: none;
}
.ant-tree-node-content-wrapper:hover .eyes-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
// 需要去除padding
.ant-tree .ant-tree-node-content-wrapper {
  padding: 0;
}
// .every-tree-node-hover{
//   background-color: #313239 !important;
// }

/* 锁的图标 */
.icons-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 8px;
}
.each-icon {
  margin: 0 2px;
}

/* 自定义Input的背景色 */
.ant-input {
  padding: 2px 0 2px 8px;
  color: #fff;
  background-color: #24262e;
}
