.EveryTreeNode-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 100%;
  color: #ccc;
}
.ant-tree-treenode-selected {
  background-color: #2482ff !important;
  transition: unset;
}
// antd拖拽时自带的下边框样式, 改成透明即可，若直接不显示，拖拽位置会不准确
.ant-tree-drop-indicator {
  // display: none;
  // opacity: 0;
}
.drag-over-gap-bottom {
  background-color: #2482ff;
  // border: none !important;
}
.drop-target {
  border: none;
}
.ant-tree-treenode-draggable {
}
.dragging {
  // background-color: red;
}
.title {
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  .title-text {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.frame {
  width: 40px;
  height: 25px;
  text-align: center;
  border: 1px rgb(204, 199, 199) solid;
}
.set-back-color {
  background-color: #2482ff;
}
.set-margin {
  margin-right: 12px;
  color: #585c76;
}
.set-icon-size {
  font-size: 14px;
  // 给每个组 icon 加上负边距，时间有限，就不重新弄一个类名了
  margin-left: -6px;
}
.eyes-icon {
  display: none;
}
.ant-tree-node-content-wrapper:hover .eyes-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
// 需要去除padding
.ant-tree .ant-tree-node-content-wrapper {
  padding: 0;
  transition: unset;
}

/* 锁的图标 */
.icons-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 8px;
}
.each-icon {
  margin: 0 2px;
}

/* 自定义Input的背景色 */
.ant-input {
  padding: 2px 0 2px 8px;
  color: #fff;
  background-color: #24262e;
}
