.Header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .appName {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .left {
    display: flex;
    align-items: center;
    width: 250px;
    .left-icon {
      margin: 0 10px;
    }
    .left-input {
      width: 200px;
    }
  }
  // .cdb-center,
  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 64px;
    width: 200px;
  }
  .cdb-center {
    display: flex;
    align-items: center;
    height: 64px;
    flex: 1;
    .line::before {
      content: "";
      display: inline-block;
      border-left: 1px solid #3e4358;
      height: 37px;
      margin-top: 29px;
    }
  }

    // 发布弹窗 内容 的样式
    .fabu-modal-in-header {
      text-align: center;
      user-select: none;
      .img-wrap {
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 140px;
          height: 140px;
        }
      }
      .text {
        height: 24px;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #ffffff;
        line-height: 24px;
        font-weight: 400;
        margin: 8px 0 10px 0;
      }
      .set-flex {
        display: flex;
        align-items: center;
        .set-flex-1 {
          flex: 1;
        }
      }
      .ant-upload-list {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .icon-wrap {
        width: 20px;
        cursor: pointer;
      }
      .ant-input {
        height: 32px;
        line-height: 32px;
      }
    }
}
