.Header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .appName {
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .left {
    display: flex;
    align-items: center;
    width: 250px;
    .left-icon {
      margin: 0 10px;
    }
    .left-input {
      width: 200px;
    }
  }
  .cdb-center,
  .right {
    display: flex;
    align-items: center;
    height: 64px;
  }
  .cdb-center {
    flex: 1;

    .line::before {
      content: "";
      display: inline-block;
      border-left: 1px solid #3e4358;
      height: 37px;
      margin-top: 9px;
    }
  }
  .right {
    width: 200px;
  }
}
