.Header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  
  .appName {
    cursor: pointer;
  }

  .left {
    display: flex;
    align-items: center;
    width: 188px;
    .left-icon {
      margin: 0 10px;
    }
    .left-input {
      width: 200px;
    }
  }
  .center,
  .right {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .center {
    flex: 1;

    .line::before {
      content: '';
      display: inline-block;
      border-left: 1px solid #3E4358;
      height: 37px;
      margin-top: 9px;
    }
  }
  .right {
    width: 200px;
  }
}
