.Preview-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 85vh;
  padding: 24px 0;
  user-select: none;

  .icon-wrap {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 40px;
    cursor: pointer;
  }
  .img-wrap {
    width: 100%;
    height: 100%;
    .redefined-img {
      width: 100%;
      height: 100%
    }
  }
  .iconDisable {
    cursor: not-allowed;
    color: rgb(66, 59, 59);
  }
}