.SingleLayer-wrap {
  text-align: center;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header{
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  background-color: #3d404d;
}
.content{
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.custom-form .ant-form-item-label > label{
  color: #fff;
}

.size-input{
  width: 80px;
}

.zoom-set .ant-radio-wrapper > span:nth-child(2){
  color: #fff;
}

.custom-collapse{
  background-color: #232630;
  border:none;

}
.custom-collapse .ant-collapse-header{
  color: #fff !important;
  background-color: #3d404d !important;
}

.custom-collapse .ant-collapse-content{
  background-color: #232630;
  border:none;
}

.custom-collapse  > .ant-collapse-item{
  border-bottom: 1px solid #3d404d;
}
.custom-collapse  > .ant-collapse-item:last-child{
  border: none;
}

.SingleLayer-wrap .ant-tabs-nav-list{
  flex: 1;
}
.SingleLayer-wrap .ant-tabs-tab{
  flex: 0.333;
  justify-content: center;
}
.SingleLayer-wrap .ant-table{
  background-color: #232630;
  color: #fff;
}

.SingleLayer-wrap .ant-table-thead > tr > th{
  background-color:#3d404d;
  color: #fff;
}
.SingleLayer-wrap .ant-table-tbody > tr.ant-table-row:hover > td,.SingleLayer-wrap .ant-table-tbody > tr > td.ant-table-cell-row-hover{
  background-color:#3d404d;
  color: #fff;
}