.SingleLayer-wrap {
  text-align: center;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* .header{
  width: 100%;
  height: 36px;
  line-height: 36px;
  color: #ccc;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  background-color: #373A4D;
  margin:0;
} */
.SingleLayer-wrap .content{
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding:0;
}

/* 标签页开始 */
.custom-tabs{
  height:100%;
}
.custom-tabs .ant-tabs-nav{
  height: 36px;
  background: #373A4D;
  margin: 0;
}
.custom-tabs .ant-tabs-nav::before{
  border-bottom:0;
}
.custom-tabs .ant-tabs-ink-bar{
  visibility: inherit !important;
}
.custom-tabs .ant-tabs-tab{
  padding: 6px 24px !important;
  border: 0 !important;
  border-radius:0 !important;
  margin-left: 0 !important;
  background:#373A4D !important;
  color:#ccc;
}
.custom-tabs .ant-tabs-tab-active{
  background: #585C74 !important;
  color: #FFFFFF !important;
  font-weight: 400;
}
.custom-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: #FFFFFF !important;
  text-shadow: none;
}

/* 标签页结束 */
.custom-form .ant-form-item-label{
  width: 80px;
}
.custom-form .ant-form-item-label > label{
  color: #ccc;
  font-size: 14px;
}
.size-input{
  width: 80px;
}

.zoom-set .ant-radio-wrapper > span:nth-child(2){
  color: #fff;
}

.custom-collapse{
  background-color: #232630;
  border:none;

}
.custom-collapse .ant-collapse-header{
  color: #ccc !important;
  background-color: #222430 !important;
  padding: 0 0 16px 0 !important;
  
}

.custom-collapse .ant-collapse-content{
  background-color: #222430;
  border:none;
}

.custom-collapse .ant-collapse-content-box{
  padding: 0;
}

.custom-collapse  > .ant-collapse-item{
  border-bottom: 1px solid #3d404d;
}
.custom-collapse  > .ant-collapse-item:last-child{
  border: none;
}
.SingleLayer-wrap .ant-table{
  background-color: #232630;
  color: #fff;
}

.SingleLayer-wrap .ant-table-thead > tr > th{
  background-color:#3d404d;
  color: #fff;
}
.SingleLayer-wrap .ant-table-tbody > tr.ant-table-row:hover > td,.SingleLayer-wrap .ant-table-tbody > tr > td.ant-table-cell-row-hover{
  background-color:#3d404d;
  color: #fff;
}


/* 右侧设置隐藏滚动条 */
.SingleLayer-wrap .ant-tabs-content::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.SingleLayer-wrap .ant-tabs-content {
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-x: hidden;
  overflow-y: auto;
  height:100%;
}