.Header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  .left {
    display: flex;
    align-items: center;
    width: 180px;
    .left-icon {
      margin: 0 10px;
    }
    .left-input {
      width: 200px;
    }
  }
  .center,
  .right {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .center {
    flex: 1;
  }
  .right {
    width: 200px;
  }
}
