@import "../../../../../../assets/style/variable.less";

.single-data-container-drawer {
  .ant-drawer-content-wrapper {
    width: 400px !important;

    .ant-drawer-content {
      background-color: @bgColor;

      .ant-drawer-header {
        background-color: @bgColor;
        color: @fontColor;

        .ant-drawer-close {
          color: @fontColor;
        }

        .ant-drawer-title {
          color: @fontColor;
        }
      }
    }
  }
  .data-source {
    position: relative;
    left: -24px;
    margin-top: 24px;
    width: calc(100% + 48px);
    padding-left: 24px;
    height: 32px;
    font-size: 14px;
    color: #ccc;
    line-height: 32px;
    background: #292B38;
    border: 1px solid #353746;
  }
  .data-container-handle {
    display: flex;
  }
}