@import "../../../../../../assets/style/variable.less";

.update-data-container-drawer {
  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      background-color: @bgColor;
      .ant-drawer-wrapper-body {
        .ant-drawer-header {
        @apply g-p-2 g-text-center;
          background: #373A4D;
          color: @fontColor;
          border-bottom: unset;
          .ant-drawer-close {
            color: @fontColor;
          }

          .ant-drawer-title {
            color: #ccc;
          }
        }
        .ant-drawer-body {
        @apply g-p-4;
        }
      }
    }
  }

  .data-source {
    position: relative;
    left: -24px;
    margin-top: 24px;
    width: calc(100% + 48px);
    padding-left: 24px;
    height: 32px;
    font-size: 14px;
    color: #ccc;
    line-height: 32px;
    background: #292B38;
    border: 1px solid #353746;
  }
  .data-container-handle {
    display: flex;
  }
}