.number-form {
  .input-num-suffix {
    display: inline-table;
    line-height: 32px;
    height: 32px;
    position: absolute;
    right: 6px;
    padding: 0;
    background: inherit;
    border: none;
    color: #666;
  }

  .ant-form-item-control-input-content {
    position: relative;
  }
}