.iconText{
  display: flex;
  flex-direction: column;
  .text-name{
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px 0;
  }
  .icon-img{
    width: 45px;
    height: 45px;
    margin-right: 8px;
  }
  .showText{
    border-bottom: 1px solid rgba(184,209,255,0.3);
    width: 100%;
    display: flex;
  }
  .showText:before{
    content: "";
    position: absolute;
    width: 50px;
    bottom: 0;
    border-bottom: 2px solid #ffffff;
    // border-radius: 5px;
  }
}
.hide{
  background: rgba(76, 255, 231, 0.15);
}