@import "../../../assets/style/variable.less";

.right-wrap {
  width: 333px;
  background-color: @bgColor;
  color: @fontColor;
  height: calc(100vh - 64px);
}

.right-setting-wrap{
  height: 100%;
}