@import "../../../assets/style/variable.less";

.right-wrap {
  width: 333px;
  background-color: @bgColor;
  color: @fontColor;
  height: calc(100vh - 64px);
}

.right-setting-wrap{
  height: 100%;
}

.ant-input-number.po-size-input{
  &:hover{
    border-color: #165996 !important;
  }
}
.ant-input-number.size-input{
  &:hover{
    border-color: #165996 !important;
  }
}