.Charts-wrap {
  background-color: #232630;
  color: #fff;
  display: flex;

  // .active-li {
  //   background-color: #3a89fe;
  // }

  .text-list {
    background-color: #181b25;
    width: 114px;
    li {
      width: 100%;
      height: 40px;
      padding: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    li:hover {
      background-color: #3a89fe;
    }
  }

  .charts-list {
    padding: 16px 10px 0 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
