.ant-modal-root{
  .ant-modal-content{
    background-color: #2A2F3D;
    .ant-modal-header{
      background-color: #2A2F3D;
    }
    .ant-modal-header,.ant-modal-footer{
      padding: 24px;
      border: none;
    }
    .ant-form-item{
      &:last-child{
        margin: 0;
      }
    }
  }

}