
.animated {
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}
@keyframes slideInDown {
  0% {
    transform: translate3d(0, -3000px, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.slideInDown {
  animation-name: slideInDown;
}
.slideInDown.opacityIn {
  animation-name: slideInDown, opacityIn;
}
@keyframes slideInLeft {
  0% {
    transform: translate3d(-3000px, 0, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.slideInLeft {
  animation-name: slideInLeft;
}
.slideInLeft.opacityIn {
  animation-name: slideInLeft, opacityIn;
}
@keyframes slideInRight {
  0% {
    transform: translate3d(3000px, 0, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.slideInRight {
  animation-name: slideInRight;
}
.slideInRight.opacityIn {
  animation-name: slideInRight, opacityIn;
}
@keyframes slideInUp {
  0% {
    transform: translate3d(0, 3000px, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.slideInUp {
  animation-name: slideInUp;
}
.slideInUp.opacityIn {
  animation-name: slideInUp, opacityIn;
}
@keyframes slideInRightDown {
  0% {
    transform: translate3d(3000px, -3000px, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.slideInRightDown {
  animation-name: slideInRightDown;
}
.slideInRightDown.opacityIn {
  animation-name: slideInRightDown, opacityIn;
}
@keyframes slideInRightUp {
  0% {
    transform: translate3d(3000px, 3000px, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.slideInRightUp {
  animation-name: slideInRightUp;
}
.slideInRightUp.opacityIn {
  animation-name: slideInRightUp, opacityIn;
}
@keyframes slideInLeftDown {
  0% {
    transform: translate3d(-3000px, -3000px, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.slideInLeftDown {
  animation-name: slideInLeftDown;
}
.slideInLeftDown.opacityIn {
  animation-name: slideInLeftDown, opacityIn;
}
@keyframes slideInLeftUp {
  0% {
    transform: translate3d(-3000px, 3000px, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.slideInLeftUp {
  animation-name: slideInLeftUp;
}
.slideInLeftUp.opacityIn {
  animation-name: slideInLeftUp, opacityIn;
}
@keyframes slideInDownSmall {
  0% {
    transform: translate3d(0, -100px, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.slideInDownSmall {
  animation-name: slideInDownSmall;
}
.slideInDownSmall.opacityIn {
  animation-name: slideInDownSmall, opacityIn;
}
@keyframes slideInLeftSmall {
  0% {
    transform: translate3d(-100px, 0, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.slideInLeftSmall {
  animation-name: slideInLeftSmall;
}
.slideInLeftSmall.opacityIn {
  animation-name: slideInLeftSmall, opacityIn;
}
@keyframes slideInRightSmall {
  0% {
    transform: translate3d(100px, 0, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.slideInRightSmall {
  animation-name: slideInRightSmall;
}
.slideInRightSmall.opacityIn {
  animation-name: slideInRightSmall, opacityIn;
}
@keyframes slideInUpSmall {
  0% {
    transform: translate3d(0, 200px, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.slideInUpSmall {
  animation-name: slideInUpSmall;
}
.slideInUpSmall.opacityIn {
  animation-name: slideInUpSmall, opacityIn;
}
@keyframes slideInRightDownSmall {
  0% {
    transform: translate3d(100px, -100px, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.slideInRightDownSmall {
  animation-name: slideInRightDownSmall;
}
.slideInRightDownSmall.opacityIn {
  animation-name: slideInRightDownSmall, opacityIn;
}
@keyframes slideInRightUpSmall {
  0% {
    transform: translate3d(100px, 100px, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.slideInRightUpSmall {
  animation-name: slideInRightUpSmall;
}
.slideInRightUpSmall.opacityIn {
  animation-name: slideInRightUpSmall, opacityIn;
}
@keyframes slideInLeftDownSmall {
  0% {
    transform: translate3d(-100px, -100px, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.slideInLeftDownSmall {
  animation-name: slideInLeftDownSmall;
}
.slideInLeftDownSmall.opacityIn {
  animation-name: slideInLeftDownSmall, opacityIn;
}
@keyframes slideInLeftUpSmall {
  0% {
    transform: translate3d(-100px, 100px, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
.slideInLeftUpSmall {
  animation-name: slideInLeftUpSmall;
}
.slideInLeftUpSmall.opacityIn {
  animation-name: slideInLeftUpSmall, opacityIn;
}
@keyframes wipeInLeft {
  0% {
    clip-path: polygon(0 0, 0 0, 0 3000px, 0 3000px);
  }
  to {
    clip-path: polygon(0 0, 3000px 0, 3000px 3000px, 0 3000px);
  }
}
.wipeInLeft {
  animation-name: wipeInLeft;
}
@keyframes wipeInRight {
  0% {
    clip-path: polygon(3000px 0, 3000px 0, 3000px 3000px, 3000px 3000px);
  }
  to {
    clip-path: polygon(0 0, 3000px 0, 3000px 3000px, 0 3000px);
  }
}
.wipeInRight {
  animation-name: wipeInRight;
}
@keyframes wipeInUp {
  0% {
    clip-path: polygon(0 3000px, 3000px 3000px, 3000px 3000px, 0 3000px);
  }
  to {
    clip-path: polygon(0 0, 3000px 0, 3000px 3000px, 0 3000px);
  }
}
.wipeInUp {
  animation-name: wipeInUp;
}
@keyframes wipeInDown {
  0% {
    clip-path: polygon(0 0, 3000px 0, 3000px 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 3000px 0, 3000px 3000px, 0 3000px);
  }
}
.wipeInDown {
  animation-name: wipeInDown;
}
@keyframes wipeInLeftDown {
  0% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 3000px 0, 3000px 3000px, 0 3000px);
  }
}
.wipeInLeftDown {
  animation-name: wipeInLeftDown;
}
@keyframes wipeInLeftUp {
  0% {
    clip-path: polygon(0 3000px, 0 3000px, 0 3000px, 0 3000px);
  }
  to {
    clip-path: polygon(0 0, 3000px 0, 3000px 3000px, 0 3000px);
  }
}
.wipeInLeftUp {
  animation-name: wipeInLeftUp;
}
@keyframes wipeInRightDown {
  0% {
    clip-path: polygon(3000px 0, 3000px 0, 3000px 0, 3000px 0);
  }
  to {
    clip-path: polygon(0 0, 3000px 0, 3000px 3000px, 0 3000px);
  }
}
.wipeInRightDown {
  animation-name: wipeInRightDown;
}
@keyframes wipeInRightUp {
  0% {
    clip-path: polygon(
      3000px 3000px,
      3000px 3000px,
      3000px 3000px,
      3000px 3000px
    );
  }
  to {
    clip-path: polygon(0 0, 3000px 0, 3000px 3000px, 0 3000px);
  }
}
.wipeInRightUp {
  animation-name: wipeInRightUp;
}
@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.opacityIn {
  animation-name: opacityIn;
  opacity: 0;
}
.light {
  --easyv-component-background: #fff;
  --easyv-border-color-base: #d9d9d9;
  --easyv-text-color: #333;
}
