.custom-breadcrumb {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.ant-breadcrumb li{
  display: flex;
  align-items: center;
}
.active-breadcrumb-item {
  font-size: 22px;
}

.ant-breadcrumb-separator {
  color: #fff;
}
