.tab-wrap {
  background: unset;
  height: inherit;
}

.tab-wrap .tab-item {
  margin-right: 0;
  padding: 12px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: inherit;
}
