.protection-range {
    display: flex;
    flex-wrap: wrap;
}
.protection-range .right {
    display: flex;
    flex-direction: column;
}
.protection-range .right .total {
    position: relative;
    width: 613px;
    height: 156px;
    background: url('./protectionRange1.png') center center no-repeat;
}
.protection-range .right .total .bg {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.protection-range .right .total .bg img:nth-child(1) {
    margin-left: 30px;
}
.protection-range .right .total .bg img:nth-child(2) {
    margin-left: 6px;
}
.protection-range .right .total .bg img:nth-child(3) {
    margin-left: 6px;
}
.protection-range .right .total .bg img:nth-child(5) {
    margin-left: 64px;
}
.protection-range .right .total .bg img:nth-child(6) {
    margin-left: 6px;
}
.protection-range .right .total .bg img:nth-child(7) {
    margin-left: 6px;
}
.protection-range .right .total .dv-digital-flop {
    position: absolute;
    z-index: 10;
}
.protection-range .right .total .bg .placeholder {
    width: 0px;
    height: 50px;
}
.protection-range .right .total .symbol {
    position: absolute;
    top: 40px;
    left: 290px;
    font-size: 80px;
    color: #FFF;
}

.protection-range1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url('./protectionRange1.png') center center no-repeat;
  background-size: contain;
}


.protection-range-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.protection-range-container .protection-range{
  display: flex;
  justify-content: center;
  align-items: center;
}
.protection-range-container .protection-range .image{
  background: url('./protectionRange2.png') center center no-repeat;
  background-size: contain;
  width: 77px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  margin-left: 6px;
}
/* .protection-range-container .protection-range .image:nth-last-child(4n){
  background: none;
  width: 50px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  margin-left: 6px;
} */