@import "@/assets/style/variable.less";

.update-component-wrapper {
  position: absolute;
  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      background-color: @bgColor;
      .ant-drawer-wrapper-body {
        .ant-drawer-header {
          @apply g-p-2 g-text-center;
          background: #373a4d;
          color: @fontColor;
          border-bottom: unset;
          .ant-drawer-close {
            color: @fontColor;
          }

          .ant-drawer-title {
            color: #ccc;
          }
        }
        .ant-drawer-body {
          @apply g-p-0;
          &::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }

  .data-container-handle {
    display: flex;
  }
}
