.AddDataSource-wrap {
  // 自定义modal按钮类名
  .modalBtn {
    width: 88px;
    height: 32px;
    border-radius: 3px;
  }
  .okBtn {
    background: #2482ff;
  }
  .cancelBtn {
    margin-right: 8px;
    background: #4a5068;
    border: none;
  }
  //
  .clearScroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .clearScroll::-webkit-scrollbar {
    display: none;
  }
}

.dataBaseName {
  display: flex;
  justify-content: space-between;
  .dataBaseName-Select {
    flex: 1;
  }
}
.getDataListBtn,
.testConnect {
  width: 122px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #232630;
  color: rgba(36, 130, 255, 1);
  border: 1px solid rgba(36, 130, 255, 1);
  border-radius: 3px;
  margin-right: 8px;
  cursor: pointer;
  user-select: none;
}
.testConnectWrap {
  width: 122px;
  height: 32px;
}
.testConnect {
  margin-top: 8px;
}
.btnDisabled {
  // background-color: green !important;
  background-color: #343740 !important;
  border: none !important;
  color: #6d7070 !important;
  pointer-events: none;
}

