.normalTable .ant-table {
  font-size: 12px;
}
.normalTable .ant-table .ant-table-body {
  border-right: #2F2F2F;
}
.normalTable .ant-table .ant-table-body::-webkit-scrollbar {
  cursor: pointer;
  width: 6px;
  height: 6px;
}
.normalTable .ant-table .ant-table-body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  background: #f3f3f3;
  margin-bottom: 10px;
}
.normalTable .ant-table .ant-table-body::-webkit-scrollbar-track {
  -webkit-box-shadow: 0;
  border-radius: 0;
  background: #e2e2e2;
  border-radius: 10px;
}
.normalTable .ant-table .ant-table-header .ant-table-thead tr th {
  background-color: var(--headerBgColor);
  color: var(--headerFontColor);
  font-weight: var(--headerFontBold);
  font-family: var(--headerFontFamily);
  font-size: var(--headerFontSize);
  font-style: var(--headerFontStyle);
  letter-spacing: var(--letterSpacing);
  line-height: var(--headerLineHeight);
}
.normalTable .ant-table .ant-table-body .ant-table-tbody tr td {
  background-color: inherit;
}
.normalTable .ant-table .ant-table-body .ant-table-tbody tr:nth-child(odd) {
  background-color: var(--oddBgColor);
}
.normalTable .ant-table .ant-table-body .ant-table-tbody tr:nth-child(even) {
  background-color: var(--evenBgColor);
}
.normalTable .row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
}
.normalTable .row-dragging td {
  padding: 16px;
}
.normalTable .row-dragging .drag-visible {
  visibility: visible;
}
