.normalTable{
  .ant-table{
    font-size: 12px;
    .ant-table-body{
      border-right: #2F2F2F;
      //滚动条整体部分
      &::-webkit-scrollbar {
        cursor: pointer;
        width: 6px;//y轴滚动条粗细
        height: 6px;//x轴滚动条粗细
        // border-bottom: 1px solid #7B7B7B;
      }
      //滚动条里面的小方块，能上下左右移动（取决于是垂直滚动条还是水平滚动条）
      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);      
        background: #f3f3f3;
        margin-bottom: 10px;
      }
      //滚动条的轨道（里面装有thumb）滚动槽
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: 0;
        border-radius: 0;
        background: #e2e2e2;//滚动槽背景色
        border-radius: 10px;//滚动条边框半径设置
      }
    }
    .ant-table-header .ant-table-thead tr th{
      background-color: var(--headerBgColor);
      color: var(--headerFontColor);
      font-weight: var(--headerFontBold);
      font-family: var(--headerFontFamily);
      font-size: var(--headerFontSize);
      font-style: var(--headerFontStyle);
      letter-spacing: var(--letterSpacing);
      line-height: var(--headerLineHeight);
    }
    .ant-table-body .ant-table-tbody tr{
      td{
        background-color: inherit;
      }
      &:nth-child(odd){
        background-color: var(--oddBgColor);
      }
      &:nth-child(even){
        background-color: var(--evenBgColor);
      }
    }
  }
  .row-dragging {
    background: #fafafa;
    border: 1px solid #ccc;
  }
  .row-dragging td {
    padding: 16px;
  }
  .row-dragging .drag-visible {
    visibility: visible;
  }
}