.custom-upload-form{
  .bg-img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-size: cover;
  }
  .bg-uploader{
    .ant-upload-list-picture-card-container{
      display: none;
    }
  }
  .ant-upload-span{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}