@backColor: #313239;

.dashboard-node-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  // color: #ccc;
  padding-left: 2px;
  .title {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 140px;

    .text {
      max-width: 130px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .icons-wrap {
    .show-icon {
      display: none;
    }
    .show-nums {
      display: block;
    }
  }
}